div[class~=scn-pack-FullSizeChildren] div[class=sapUiLayoutAbsPos] {width: 100% !important;height: 100% !important;}

div.scn-pack-HarveyBallMicroChart {  
  /* allow X scroll */  
  overflow-x: auto !important;  
  /* allow Y scroll */ 
  overflow-y: auto !important;  
}

.suiteHBMCSgmnt.Good {fill: #61a656;}
.suiteHBMCSgmnt.Error {fill: #d32030;}
.suiteHBMCSgmnt.Neutral {fill: #5cbae6;}

.suiteHBMCSBall {
	fill: #d6dadb;
}

.suiteHBMCSgmnt {
	stroke: #ffffff;
	stroke-width: 1.5;
}