
/* ============================================= */
/* CSS for control sap.suite.ui.commons/HeaderContainer.control */
/* ============================================= */
.sapSuiteHdrCntr {
	position: relative;
	display: inline-block;
}

.sapSuiteHdrCntr.Horizontal {
  	max-width: 100%;
}

.sapSuiteHdrCntr.Vertical {
  	max-height: 100%;
}

.sapSuiteHdrCntrBtn {
	display: none;
}

.sapSuiteHdrCntrBtnCntr.Horizontal {
	position: absolute; 
	top:0px;
	bottom:0px;
	min-width: 1.375rem;
}

.Horizontal > .sapSuiteHdrCntrLeft {
	left: 0rem;
}

.Horizontal > .sapSuiteHdrCntrRight {
	right: 0rem;
}

.sapSuiteHdrCntrBtnCntr.Vertical {
	position: absolute; 
	left: 0px;
	right: 0px;
	min-height: 1.375rem;
}
.sapSuiteHdrCntrLeft.Vertical {
	top: 0rem;
}

.sapSuiteHdrCntrRight.Vertical {
	bottom: 0rem;
}

.sapSuiteHdrCntrBtnCntr.Horizontal >.sapSuiteHdrCntrBtn {
	position: absolute;
	top:50%;
	margin-top: -1.5rem;
	min-width: 1.375rem;
}

.sapSuiteHdrCntrBtnCntr.Vertical >.sapSuiteHdrCntrBtn {
	position: absolute;
	left: 50%;
	margin-left: -1.5rem;
	height: 2.5rem;
	padding: 0px;
}

.sapSuiteHdrCntrBtnCntr.Vertical >.sapSuiteHdrCntrBtn.sapSuiteHdrCntrRight {
	bottom: 0px;
}

.sapSuiteHdrCntrCntr.Horizontal {
	white-space: nowrap;
}

.sapSuiteHdrCntrCntr.Vertical {
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.sapSuiteHrdrCntrInner {
	position:relative;
	vertical-align: bottom;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    overflow: visible;
}

.sapSuiteHdrCntrCntr.Vertical .sapSuiteHrdrCntrInner {
	float: left;
	clear: left;
}

.sapSuiteHdrCntrCntr.Horizontal .sapSuiteHrdrCntrInner:not(:first-child) {
	margin-left: 1rem;
}

.sapSuiteHdrCntrCntr.Vertical .sapSuiteHrdrCntrInner:not(:first-child) {
	margin-top: 1rem;
}

.sapSuiteHrdrCntrDvdrs .sapSuiteHrdrCntrInner:not(:first-child)::after {
	content:"";
	position:absolute;
	box-sizing:border-box;
	display:inline-block;	
}

.sapSuiteHrdrCntrDvdrs.Horizontal .sapSuiteHrdrCntrInner::after {
	top:10px;
	bottom:10px;
	left:-9px;
	border-left:1px solid @sapUiFieldBorderColor;
}

.sapSuiteHrdrCntrDvdrs.Vertical .sapSuiteHrdrCntrInner::after {
	left:10px;
	right:10px;
	top:-9px;
	border-top: 1px solid @sapUiFieldBorderColor;
}

.sapSuiteKTileBorder {
	display: none;
} 

.sapSuiteHdrPddngRight2 {
	padding-right: 2rem;
}

.sapSuiteHdrPddngRight0 {
	padding-right: 0rem;
}

.sapSuiteHdrPddngLeft2 {
    padding-left: 2rem;
}

.sapSuiteHdrPddngleft0 {
    padding-left: 0rem;
}