/* ================================================================== */
/* CSS for control sap.suite.ui.commons/ProcessFlowLaneHeader.control */
/* ================================================================== */

.suiteUiProcessFlowLaneHeaderContainer {
  width: 100%;
  min-width: 6rem;
}

.suiteUiProcessFlowLaneHeaderBodyContainer {
  position: relative;
  height: 4.25rem;
  width: 100%;
  top: 0;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.suiteUiProcessFlowLaneHeaderTextContainer {
  position: relative;
  height: 2rem;
  padding: 0rem 1rem;
  overflow: hidden;
  text-align: center;
}

.suiteUiProcessFlowLaneHeaderText {
  display: inline-block;
  vertical-align: top;
  line-height: 1rem;
  font-weight: normal;
  word-wrap: break-word;
  word-break: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 2rem;
  min-height: 2rem;
  height: 2rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.suiteUiProcessFlowLaneHeaderDonutSvg {
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  left: 50%;
  top: 50%;
  margin-top: -2.125rem;
  margin-left: -2.125rem;
  padding: 0.125rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.suiteUiProcessFlowLaneHeaderIconContainer {
  display: table;
  position: absolute;
  top:   50%;
  left:  50%;
  width: 4.25rem;
  height: 4.25rem;
  margin-left: -2.125rem;
  margin-top: -2.125rem;
  font-size: 1.375rem;
  text-align:center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.suiteUiProcessFlowLaneHeaderHorizontalLine {
  position: absolute;
  width: 100%;
  height:0.0625rem;
  top: 50%;
}

/*Selector for IE11. Increasing 0.01rem the height, prevents some lines from disappearing*/
html[data-sap-ui-browser^="ie"] .suiteUiProcessFlowLaneHeaderHorizontalLine {
  height:0.07rem;
}

.suiteUiProcessFlowLaneHeaderStartEndSymbolContainer {
  position: relative;
  width: 1rem;
  height: 7rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.suiteUiProcessFlowLaneHeaderStartEndSymbol {
  position: absolute;
  top: 2.125rem; /* 2 rem from top of the container + 2px */
  width: 0.1875rem;
  height: 0.75rem;
}

.suiteUiProcessFlowLaneHeaderStartSymbol {
  left: 0;
}

.suiteUiProcessFlowLaneHeaderEndSymbol {
  right: 0;
}

.suiteUiProcessFlowLaneHeaderProcessSymbolContainer {
  position: relative;
  width: 2rem;
  height: 7rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.suiteUiProcessFlowLaneHeaderProcessSymbol {
  position: absolute;
  top: 2rem; /* 2 rem from top of the container */
  left: 50%;
  margin: 0rem -0.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

.suiteUiProcessFlowLaneHeaderProcessSymbolIcon,
.suiteUiProcessFlowLaneHeaderProcessSymbolIcon > .sapUiIcon,
.suiteUiProcessFlowLaneHeaderProcessSymbolIcon > .sapUiIcon:before {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

.suiteUiProcessFlowLaneHeaderPointer {
  cursor: pointer;
  cursor: hand;
}

.suiteUiProcessFlowLaneHeaderNoSelection {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-transition: -webkit-transform 0ms;
  -ms-touch-select: none;
  touch-action: manipulation;
}
