
/* ============================================= */
/* CSS for control sap.suite.ui.commons/Timeline.control */
/* ============================================= */

.sapSuiteUiCommonsTimeline{
    min-width: 20rem;
	height: 100%;
}
.sapSuiteUiCommonsTimelineContents{
	width: 100%;
	padding: 1rem 0 0 0;
	overflow: hidden;
	position: relative; 
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
}


.sapSuiteUiCommonsTimelineScroll {
	display: inline-block; 
	//background-color: white;
	//opacity:0.8;
    //-moz-opacity:0.8; 
    //-webkit-opacity:0.8;
}

.sapSuiteUiCommonsTimelineScrollV .sapSuiteUiCommonsTimelineScroll {
	display: block; 
	width: ~"calc(100% - 3rem)";
}

.sapSuiteUiCommonsTimelineGetMore{
	width: 100%;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sapSuiteUiCommonsTimelineGetMoreBar{
	height: 2.1rem;
	margin-left: 11px;
	margin-top: -0.1rem;
	width: 3px;
	background: linear-gradient(#36a9e0, white);
	background: -webkit-linear-gradient(#36a9e0, white);
	background: -o-linear-gradient(#36a9e0, white);  
    background: -moz-linear-gradient(#36a9e0, white);  
    background: -ms-linear-gradient(#36a9e0, white);
}

.sapSuiteUiCommonsTimelineGetMoreBox{
	background: transperent;
    width: 100%;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: -2.5rem;
}

/* ============================================= */
/* Horizontal stuff */
/* ============================================= */

.sapSuiteUiCommonsTimelineH{
    height: 100%;
    width: 100%;
}
.sapSuiteUiCommonsTimelineContentsH{
	width: 100%;
	height: 100%;
	z-index: 0;
    overflow-x: auto;
    overflow-y: auto;
	position: relative; 
	display: inline-block; 
}
.sapSuiteUiCommonsTimelineScrollH{
	min-width: 25rem;
	height: ~"calc(100% - 3rem)";
	display: block;
    position: relative;
}

.sapSuiteUiCommonsTimelineGetMoreH {
	width: 10rem;
	display: inline-block;
	height: 5rem;
	position: relative;
	top: 2.5rem;
	left: 0.5rem;
}

.sapSuiteUiCommonsTimelineGetMoreBarH{
	position: absolute;
	width: 9rem;
	height: 0.0625rem;
	top: -1.4rem;
    left: 1rem;
    background: linear-gradient(left, #36a9e0, transparent);
    background: -webkit-linear-gradient(left, #36a9e0, transparent);
    background: -o-linear-gradient(left, #36a9e0, transparent);  
    background: -moz-linear-gradient(left, #36a9e0, transparent);  
    background: -ms-linear-gradient(left, #36a9e0, transparent);   
}

.sapSuiteUiCommonsTimelineGetMoreBoxH{
	position: absolute;
	width: 10rem;
    height: 3rem;
    //top: 2rem;
}


