
/* ============================================= */
/* CSS for control sap.suite.ui.commons/ChartContainerContent.control */
/* ============================================= */

.sapSuiteUiCommonsChartContainerContent{

}