
/* ============================================= */
/* CSS for control sap.suite.ui.commons/DateRangeSlider.control */
/* ============================================= */

.sapSuiteUiCommonsDateRangeSlider{
  
}