.sapSuiteKTileStatusGood {
    color: @sapUiPositive;
}

.sapSuiteKTileStatusNeutral {
    color: @sapUiExtraLightText;
}

.sapSuiteKTileStatusCritical {
    color: @sapUiCritical;
}

.sapSuiteKTileStatusBad {
    color: @sapUiNegative;
}

.sapSuiteKTileValueSmallText {
    font-size: @sapMFontLargeSize;
}

.sapSuiteKTileScale {
    font-size: @sapMFontMediumSize;
}

.sapSuiteKTileDesc{
    font-size: @sapMFontSmallSize;
}
