
/* ============================================= */
/* CSS for control sap.suite.ui.commons/PictureZoomIn.control */
/* ============================================= */

.sapSuiteUiCommonsPictureZoomIn {
	background-color: rgba(0, 0, 0, 0.6); 
	width:100%; 
	height:100%; 
	overflow: hidden;
	position: absolute; 
	bottom: 0;
	display:table;
}

.sapSuiteUiCommonsPictureZoomIn .sapSuiteUiCommonsPictureZoomInDesc {
	width: 95%;
	position: absolute;
	text-align: center;
	color: white;
	font-size: 16px;
	display: table-cell;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sapSuiteUiCommonsPictureZoomInImg {
	display:table-cell;
	position: absolute;
}

.sap-phone .sapSuiteUiCommonsPictureZoomInDesc {
	font-size: 32px;
}

.sapSuiteUiCommonsPictureZoomInBusy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    display: none;
}