/* ================================================================== */
/* CSS for control sap.suite.ui.commons/ProcessFlowConnection.control */
/* ================================================================== */
.parentPosition {
  position: relative;
}
.floatLeft {
  float: left;
}
.floatClear {
  clear: both;
}
.boxMiddleWidth {
  width: 2px;
}
.boxMiddleBorderWidth {
  width: 0px;
}
.boxZoom1Width {
  width: 31px;
}
.boxZoom2Width {
  width: 23px;
}
.boxZoom3Width {
  width: 31px;
}
.boxZoom4Width {
  width: 39px;
}
.boxArrowZoom1Width {
  width: 21px;
}
.boxArrowZoom2Width {
  width: 13px;
}
.boxArrowZoom3Width {
  width: 21px;
}
.boxArrowZoom4Width {
  width: 29px;
}
.boxWideWidth {
  width: 100%;
}
.boxWideArrowZoom1Width {
  width: 54px;
}
.boxWideArrowZoom2Width {
  width: 38px;
}
.boxWideArrowZoom3Width {
  width: 54px;
}
.boxWideArrowZoom4Width {
  width: 70px;
}
.boxWideZoom1Height {
  height: 229px;
}
.boxWideZoom2Height {
  height: 209px;
}
.boxWideZoom3Height {
  height: 148px;
}
.boxWideZoom4Height {
  height: 76px;
}
.boxTopZoom1Height {
  height: 89px;
}
.boxTopZoom2Height {
  height: 82px;
}
.boxTopZoom3Height {
  height: 61px;
}
.boxTopZoom4Height {
  height: 34px;
}
.boxMiddleHeight {
  height: 2px;
}
.boxMiddleBorderHeight {
  height: 0px;
}
.boxBottomZoom1Height {
  height: 138px;
}
.boxBottomZoom2Height {
  height: 125px;
}
.boxBottomZoom3Height {
  height: 85px;
}
.boxBottomZoom4Height {
  height: 40px;
}
.borderLeft {
  border-left-width: 2px;
}
.borderBottom {
  border-bottom-width: 2px;
}
.borderLeftStateCreated {
  border-left-style: solid;
}
.borderLeftStatePlanned {
  border-left-style: dashed;
}
.borderBottomStateCreated {
  border-bottom-style: solid;
}
.borderBottomStatePlanned {
  border-bottom-style: dashed;
}
.borderLeftDisplayRegular {
  border-left-color: #999999;
}
.borderLeftDisplayHighlighted {
  border-left-color: #007cc0;
}
.borderLeftDisplayDimmed {
  border-left-color: #999999;
}
.borderBottomDisplayRegular {
  border-bottom-color: #999999;
}
.borderBottomDisplayHighlighted {
  border-bottom-color: #007cc0;
}
.borderBottomDisplayDimmed {
  border-bottom-color: #999999;
}
.displayRegular {
  opacity: 0.8;
}
.displayHighlighted {
  opacity: 1;
}
.displayDimmed {
  opacity: 0.5;
}

.arrowRight {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-width: 4px 8px 4px 8px;
  position: absolute;
  right: -16px;
  bottom: -5px;
}
