
/* ============================================= */
/* CSS for control sap.suite.ui.commons/Timeline.control */
/* ============================================= */

.sapSuiteUiCommonsTimeline{
    min-width: 20rem;
	height: 100%;
}
.sapSuiteUiCommonsTimelineContents{
	width: 100%;
	padding: 1rem 0 0 0;
	overflow: hidden;
	position: relative; 
}

.sapSuiteUiCommonsTimelineScroll {
	display: inline-block; 
	//background-color: white;
	//opacity:0.8;
    //-moz-opacity:0.8; 
    //-webkit-opacity:0.8;
}

.sapSuiteUiCommonsTimelineScrollV .sapSuiteUiCommonsTimelineScroll {
	display: block; 
	width: ~"calc(100% - 3rem)";
}

.sapSuiteUiCommonsTimelineGetMoreBar{
	width: 0.0625rem;
	height: 3.1rem;
	margin-left: 1.375rem;
	margin-top: -0.1rem;
	background: linear-gradient(@sapUiHighlight, transparent);
	background: -webkit-linear-gradient(@sapUiHighlight, transparent);
	background: -o-linear-gradient(@sapUiHighlight, transparent);  
    background: -moz-linear-gradient(@sapUiHighlight, transparent);  
    background: -ms-linear-gradient(@sapUiHighlight, transparent);
}

.sapSuiteUiCommonsTimelineGetMoreBox{
	background: transperent;
    width: 100%;
    height: 3rem;
    margin-left: 1.5rem;
	margin-right: -2.5rem;
}

.sapSuiteUiCommonsTimelineGetMoreBox .sapMBtn .sapMBtnInner{
	border: 0.0625rem solid @sapUiLightBorder;
    padding: 0 0 0 0;
}
