
/* ============================================= */
/* CSS for control sap.suite.ui.commons/TimelineFilterListItem.control */
/* ============================================= */

.sapSuiteUiCommonsTimelineFilterListItem{
  color: @sapUiTextColor;
  border: 1px solid blue;
}