.sap-desktop .sapSuiteUti .sapMBar.sapMPageHeader {
	background: @sapUiLightestBG;
}

.sapSuiteUtiHeaderName {
    font-size: @sapMFontHeader1Size;
}

.sapSuiteUtiHeaderDesc {
    font-size: @sapMFontMediumSize;
}
