/* ============================================= */
/* CSS for control sap.suite.ui.commons/VerticalNavigationBar.control */
/* ============================================= */
@sapSuiteUiNavigationBarBgRGBA: rgba(255, 255, 255, .85);
@sapSuiteUiNavBarBorderColor: #848484;
@sapSuiteUiNavBarShadow: 4px 4px 5px rgba(0, 0, 0, 0.4);

.sapSuiteTvNavBar {
    background-color: @sapUiWhite;
    background-color: @sapSuiteUiNavigationBarBgRGBA;
}

.sapSuiteTvNavBarList {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.sapSuiteTvNavBarItem {
    height: 32px;
    overflow: hidden;
    color: @sapUiDeepText;
}

.sapSuiteTvNavBarItem.sapUiUx3NavBarItemSel {
    background-color: @sapHighlightColor;
    color: @sapUiTextInverted;
    font: bold 14px arial;
}

.sapSuiteTvNavBarItemLink:hover, .sapSuiteTvNavBarItemLink:focus {
    background-color: @sapHighlightColor;
    color: @sapUiTextInverted;
}

.sapSuiteTvNavBarItemLink:active {
    background-color: @sapUiDarkBG;
    color: @sapUiTextInverted;
}

.sapSuiteTvNavBarItemLink {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 7px 0 7px 0;
    color: inherit;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapSuiteTvNavBarItem.sapUiUx3NavBarItemSel>a {
    color: @sapUiTextInverted;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 0 7px 0;
}

.sapSuiteTvNavBarItemLink>span{
    pointer-events: none;
    vertical-align: bottom;
}

.sapSuiteTvNavBarItemName {
    margin-left: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapSuiteTvNavBarItemQty {
}

.sapSuiteTvNavBarItemTltp.sapUiRtt {
	border-radius: 3px;
	border: 1px @sapSuiteUiNavBarBorderColor solid;
	width: auto;
	height: auto;
	box-shadow: @sapSuiteUiNavBarShadow;
	background-color: @sapUiExtraLightBG;
}

.sapSuiteTvNavBarItemTltp .sapUiRttContentContainer {
	padding: 0px;
}
	
.sapSuiteTvNavBarItemTltp .sapUiRttContent {
	min-width: 0px;
	padding: 0px 5px 0px 5px;
	color: @sapUiLightText;
}
