.-scn-pack-Accordion {
	background: #FFFFFF !important;
	border-radius: 3px 3px 3px 3px/3px 3px 3px 3px;
	border: solid 1px #000000 !important;
}

.scn-pack-Accordion-Layout {
	border: solid 2px transparent !important;
}

.scn-pack-Accordion-SelectedValue {
	border: solid 2px #000000 !important;
}

.scn-pack-Accordion-Image {
	border-radius: 3px 3px 3px 3px/3px 3px 3px 3px;
}