/* ================================================================== */
/* CSS for control sap.suite.ui.commons/VerticalNavigationBar.control */
/* Gold Reflection theme                                              */
/* ================================================================== */

.sapSuiteTvNavBar {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
}
