.sapzen-chartadditionalpropertiespane {
  padding-top: 2px;
  padding-bottom: 2px;
}
.sapzen-chartadditionalpropertiespane-backgroundcolor {
  background-color : white;
}
.sapUiBody {
  background-color : white !important;
}
.sapzen-chartadditionalpropertiesbuttoncontrol {
  padding-left: 20px;
}

.sapzen-additionalIndent {
  padding-left: 10px;
  padding-bottom : 5px;
}

.sapzen-additionalIndent30 {
  padding-left: 40px;
  padding-bottom : 5px;
}

.sapzen-additionalIndent70 {
  padding-left: 70px;
  padding-bottom : 5px;
}

.sapzen-additionalIndentTextBox {
  padding-left: 10px;
  padding-bottom : 5px;
}

.sapzen-additionalIndentTextBoxMIN {
  padding-left: 13px;
  padding-bottom : 5px;
}

.sapzen-colorBox5 {
  padding-left: 5px;
  padding-bottom : 5px;
}

.sapzen-resetButton5 {
  padding-left: 5px;
  padding-bottom : 5px;
}

.sapzen-additionalIndent .min{
  padding-left: 23px;
}