.land {
  fill: #222;
}
.globe {
  fill: #d8ffff;
  stroke: #333;
  stroke-width: 1.5px;
}
.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}
