
/**
 * %TYPE_DESCRIPTION%
 */
class org_scn_community_shared_%TYPE_NAME%Enumfield extends Enumfield {
       
}

/**
 * %TYPE_DESCRIPTION% 
 */
class org_scn_community_shared_%TYPE_NAME% extends Enum {

%TYPE_ENTRY%
}
