	"use%NAME%":{
		"template" : "ds-boolean",
		"type" : "boolean",
		"value" : true,
		"visible": true,
		"opts" : {
			"ztlType": "boolean",
			"ztlFunction": "",
			"desc" : "Use Manual '%DESCRIPTION%'",
			"cat" : "%CATEGORY%",
			"tooltip" : "If checked, the property '%DESCRIPTION%' will be used.",
			"apsControl" : "checkbox",
			"noAps" : false,
			"noZtl" : false
		}
	},
	"dataCellList%NAME%1":{
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% 1 Data List",
         "cat":"%CATEGORY%",
         "tooltip":"%DESCRIPTION% 1 Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    },
	"dataCellList%NAME%2":{
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% 2 Data List",
         "cat":"%CATEGORY%",
         "tooltip":"%DESCRIPTION% 2 Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    },
	"dataCellList%NAME%3":{
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% 3 Data List",
         "cat":"%CATEGORY%",
         "tooltip":"%DESCRIPTION% 3 Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    },
	"dataCellList%NAME%4":{
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% 4 Data List",
         "cat":"%CATEGORY%",
         "tooltip":"%DESCRIPTION% 4 Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    },
	"dataCellList%NAME%5":{
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% 5 Data List",
         "cat":"%CATEGORY%",
         "tooltip":"%DESCRIPTION% 5 Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    }