	"use%NAME%":{
		"template" : "ds-boolean",
		"type" : "boolean",
		"value" : true,
		"visible": true,
		"opts" : {
			"ztlType": "boolean",
			"ztlFunction": "",
			"desc" : "Use Manual '%DESCRIPTION%'",
			"cat" : "%CATEGORY%",
			"tooltip" : "If checked, the property '%DESCRIPTION%' will be used.",
			"apsControl" : "checkbox",
			"noAps" : false,
			"noZtl" : false
		}
	},
	"dataCellList%NAME%":{
	  "template": "ds-DataCellList",
      "type":"ResultCellList",
      "value":"null",
      "visible":true,
      "options":{
      	"includeFormattedData":"true",
      	"includeData":"true"
      },
      "opts":{
         "type":"data",
         "ztlFunction":"",
         "desc":"%DESCRIPTION% Data List",
         "cat":"Data",
         "tooltip":"%DESCRIPTION% Data List",
         "value":"null",
         "noAps":true,
         "noZtl":true
      }
    }