	"use%NAME%":{
		"template" : "ds-boolean",
		"type" : "boolean",
		"value" : true,
		"visible": true,
		"opts" : {
			"ztlType": "boolean",
			"ztlFunction": "",
			"desc" : "Use Manual '%DESCRIPTION%'",
			"cat" : "%CATEGORY%",
			"tooltip" : "If checked, the property '%DESCRIPTION%' will be used.",
			"apsControl" : "checkbox",
			"noAps" : false,
			"noZtl" : false
		}
	}