	"%NAME%" : {
		"template" : "Event",
		"type" : "ScriptText",
		"value" : "%DEFAULT%",
		"visible": %VISIBLE%,
		"opts" : {
			"desc" : "%DESCRIPTION%",
			"cat" : "Events",
			"tooltip" : "%TOOLTIP%",
			"apsControl" : "text",
			"noAps" : true,
			"noZtl" : true
		}
	}