	"%NAME%": {
		"template" : "StringArray",
		"type":"String",
		"origType": "%ORGINAL_TYPE%";
		"value":"%DEFAULT%",
		"visible":%VISIBLE%,
	  
		"opts":{
			"ztlType":"%ZTL_TYPE%",
	        "ztlFunction":"%ZTL_FUNCTION%",
	         
			"desc" : "%DESCRIPTION%",
			"cat" : "%CATEGORY%",
			"tooltip" : "%TOOLTIP%",
			"apsControl" : "array",
			"arrayMode":"StringArray",
			
			"noAps" : %NO_APS%,
			"noZtl" : %NO_ZTL%
		}
	}