	"%NAME%" : {
		"template" : "Choice",
		"type" : "String",
		"value" : "%DEFAULT%",
		"visible": %VISIBLE%,
		"opts" : {
			"ztlType": "Choice",
			"choiceType": "",
			"ztlFunction": "%ZTL_FUNCTION%",
			"desc" : "%DESCRIPTION%",
			"cat" : "%CATEGORY%",
			"tooltip" : "%TOOLTIP%",
			"apsControl" : "combobox",
			"options":[
				%VALUE_ENTRY%
            ],
			"noAps" : %NO_APS%,
			"noZtl" : %NO_ZTL%
		}
	}