	"%NAME%" : {
		"template" : "int",
		"type" : "int",
		"value" : %DEFAULT%,
		"visible": %VISIBLE%,
		"opts" : {
			"ztlType": "int",
			"ztlFunction": "%ZTL_FUNCTION%",
			"desc" : "%DESCRIPTION%",
			"cat" : "%CATEGORY%",
			"tooltip" : "%TOOLTIP%",
			"apsControl" : "spinner",
			"noAps" : %NO_APS%,
			"noZtl" : %NO_ZTL%
		}
	}