
/* ============================================= */
/* HCB css for control sap.suite.ui.commons/FeedTile.control */
/* ============================================= */

.sapSuiteUiCommonsFeedTileSource{

	color: white;
}

.sapSuiteUiCommonsFeedTileAge{

	color: white;
}