/* ================================================================================ */
/* CSS for control sap.suite.ui.commons/ProcessFlowNode.control (HCB theme)         */
/* ================================================================================ */

/* border styles */
.sapSuiteUiCommonsProcessFlowNodeBorderStandard {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNode1BorderStyle {
  border-right: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode1FoldedBorderStyle {
  border-style: none;
}
.sapSuiteUiCommonsProcessFlowNode2BorderStyle {
  border-left: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode3BorderStyle {
  border-top: none !important;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed {
  border-color: @sapHCReducedAltFG;
}

/* node general settings */
.sapSuiteUiCommonsProcessFlowNode0,
.sapSuiteUiCommonsProcessFlowNode0 *,
.sapSuiteUiCommonsProcessFlowNode1,
.sapSuiteUiCommonsProcessFlowNode1 *,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1 *,
.sapSuiteUiCommonsProcessFlowNode2,
.sapSuiteUiCommonsProcessFlowNode2 *,
.sapSuiteUiCommonsProcessFlowNode3,
.sapSuiteUiCommonsProcessFlowNode3 * {
  background-color: transparent;
}

/* ----- */
/* node0 */
/* ----- */

/* ----- */
/* node1 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon:before {
  background-color: transparent;
  font-size: @sapMFontLargeSize;
}
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon:before {
  background-color: transparent;
  font-size: @sapMFontSmallSize;
}

/* ----- */
/* node2 */
/* ----- */

/* ----- */
/* node3 */
/* ----- */

/*---------------*/
/* folded corner */
/*---------------*/

/* Title */
.sapSuiteUiCommonsProcessFlowNode3Title,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
  border: none;
  color: @sapHCStandardFG;
  font-size: @sapMFontLargeSize;
}

.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed > .sapSuiteUiCommonsProcessFlowNode3Title .sapMText > .sapMTextLineClamp{
  color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxWidth {
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover > .sapMTextMaxLine {
  color: @sapHCStandardFG;
  text-decoration: underline;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxWidth {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}

/* State area */
.sapSuiteUiCommonsProcessFlowNode3State {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel1 {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel2 {
  border: none;
  font-size: @sapMFontSmallSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel4 {
  border: none;
}

/* State icon */
.sapSuiteUiCommonsProcessFlowNode3StateIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon:before {
  border: none;
}

.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon:before {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon:before {
  border: none;
  font-size: @sapMFontLargeSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon:before {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon:before {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNodeHover .sapUiIcon{
  color: @sapHCStandardFG;
}

/* State text */
.sapSuiteUiCommonsProcessFlowNodeStatePositive .sapMText {
  color: @sapHCPositive;
}
.sapSuiteUiCommonsProcessFlowNodeStateNegative .sapMText {
  color: @sapHCNegative;
}
.sapSuiteUiCommonsProcessFlowNodeStateNeutral .sapMText {
  color: @sapHCNeutral;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed .sapSuiteUiCommonsProcessFlowNodeStateNeutral .sapMText {
  color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowNodeHover .sapMText{
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNode3StateText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMTextMaxWidth {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}

.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}

/* Text area */
.sapSuiteUiCommonsProcessFlowNode3Text,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxWidth {
  border: none;
  color: @sapHCStandardFG;
  font-size: @sapMFontSmallSize;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed > .sapSuiteUiCommonsProcessFlowNode3Text .sapMText > .sapMTextLineClamp{
  color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}

/* node content states */
.sapSuiteUiCommonsProcessFlowNodeStateNeutral {
  color: @sapHCNeutral;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed .sapSuiteUiCommonsProcessFlowNodeStateNeutral {
  color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowNodeStatePositive {
  color: @sapHCPositive;
}

.sapSuiteUiCommonsProcessFlowNodeStateNegative {
  color: @sapHCNegative;
}

.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
  background-color: @sapHCStandardBG;
  border-color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerPlanned {
  color: @sapHCReducedAltFG;
}

/* node display states */
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular {
  background-color: @sapHCStandardBG;
  border-color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted {
  background-color: @sapHCStandardBG;
  border-color: @sapHCStandardFG;
  border-width: 0.125rem;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateRegular {
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateHighlighted,
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateNavigation {
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateSelected {
  border-color: @sapHCEnhancedFG;
}
.sapSuiteUiCommonsProcessFlowNode0.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateNavigation {
  outline-style: dotted !important;
  outline-color: @sapHCStandardFG !important;
  outline-width: 0.125rem !important;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateSelected {
  color: @sapHCEnhancedFG;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateDimmed {
  color: @sapHCReducedAltFG;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlannedDashedBorder {
  border-style: dashed;
}

/* special effects */
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeHover {
  background-color: transparent;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeIconHover {
  background-color: transparent;
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNodeHover {
  border-color: @sapHCStandardFG;
  background-color: @sapHCHighlightBG;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeActive {
  background-color: transparent;
  color: @sapHCStandardFG;
}
.sapSuiteUiCommonsProcessFlowNodeActive {
  border-color: @sapHCStandardFG;
  background-color: @sapHCHighlightBG;
  color: @sapHCStandardFG;
}
