			if(useDataCellList%PROPERTY_CAPITAL_CUT%) {
				l_%PROPERTY_CAPITAL_CUT%.label = dataCellList%PROPERTY_CAPITAL_CUT%.rowHeaders[rowI];
				l_%PROPERTY_CAPITAL_CUT%.value = dataCellListActual.values[rowI][0];
			} else {
				l_%PROPERTY_CAPITAL_CUT%.label = l_%PROPERTY_CAPITAL_CUT%.key;	
			}