			if(useDataCellList%PROPERTY_CAPITAL_CUT%) {
				actualValue = dataCellList%PROPERTY_CAPITAL_CUT%.values[rowI][0];
				rowHeaderName = dataCellList%PROPERTY_CAPITAL_CUT%.rowHeaders[rowI];
			} else {
				rowHeaderName = l_%PROPERTY_CAPITAL_CUT%Key;	
			}