		var dataCellList%PROPERTY_CAPITAL_CUT% = that.getDataCellList%PROPERTY_CAPITAL_CUT%();
		var useDataCellList%PROPERTY_CAPITAL_CUT% = false;
		if(org_scn_community_databound.hasData (dataCellList%PROPERTY_CAPITAL_CUT%)) {
			dataCellList%PROPERTY_CAPITAL_CUT% = org_scn_community_databound.flatten (dataCellList%PROPERTY_CAPITAL_CUT%,options);
			if(!that.getUse%PROPERTY_CAPITAL_CUT%()) {
				useDataCellList%PROPERTY_CAPITAL_CUT% = true;
			}
		}
		var l_%PROPERTY_CAPITAL_CUT% = that.get%PROPERTY_CAPITAL_CUT%();
		l_%PROPERTY_CAPITAL_CUT% = org_scn_community_basics.parseJson(l_%PROPERTY_CAPITAL_CUT%, "A");

		if(that.getUse%PROPERTY_CAPITAL_CUT%() && l_%PROPERTY_CAPITAL_CUT%[0]) {
			var l_%PROPERTY_CAPITAL_CUT%Root = l_%PROPERTY_CAPITAL_CUT%[0];
			l_%PROPERTY_CAPITAL_CUT%Root.__children = [];
			for(var contentI in l_%PROPERTY_CAPITAL_CUT%) {
				var contentO = l_%PROPERTY_CAPITAL_CUT%[contentI];

				if(contentO.parentKey != "ROOT") {
					l_%PROPERTY_CAPITAL_CUT%Root.__children.push(contentO);
				}
			}
			l_%PROPERTY_CAPITAL_CUT% = l_%PROPERTY_CAPITAL_CUT%Root;
		}

		var %NAME%JsonTemplate = {};
		for (var %NAME%PropI in l_%PROPERTY_CAPITAL_CUT%) {
			if(%NAME%PropI == "parentKey" || %NAME%PropI == "leaf" || %NAME%PropI == "key") continue;
			if(%NAME%PropI == "__children") {
				var subArrayName = that.getSpecSubArrayName("%NAME%");
				%NAME%JsonTemplate[subArrayName] = [];
				
				for (var %NAME%PropChildI in l_%PROPERTY_CAPITAL_CUT%[%NAME%PropI]) {
					var %NAME%PropChildO = l_%PROPERTY_CAPITAL_CUT%[%NAME%PropI][%NAME%PropChildI];
					var %NAME%SubPropO = {};
					for (var %NAME%PropChildPropI in %NAME%PropChildO) {
						if(%NAME%PropChildPropI == "parentKey" || %NAME%PropChildPropI == "leaf" || %NAME%PropChildPropI == "key") continue;
						%NAME%SubPropO[%NAME%PropChildPropI] = %NAME%PropChildO[%NAME%PropChildPropI];
					}
					%NAME%JsonTemplate[subArrayName].push(%NAME%SubPropO);
				}
			} else {
				%NAME%JsonTemplate[%NAME%PropI] = l_%PROPERTY_CAPITAL_CUT%[%NAME%PropI];	
			}
		}