#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap span.left {
}
#primary_nav_wrap span.right {
	float:right;
	
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color:gray;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-size:12px;
	line-height:32px;
	font-family:"HelveticaNeue","Helvetica Neue","Helvetica\","Arial,sans-serif";
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	text-decoration:none;
	padding:0 15px;
}

#primary_nav_wrap ul li.current-menu-item
{
}

#selected-menu-item
{
	font-weight: bold !important;
}

#selected-menu-item:first-child:before
{
	content: "\a0";
	padding-left:15px;
	background-repeat: no-repeat;
	background-image: url(data:image/gif;base64,R0lGODlhDwAOANUsAAEBASoqKuLi4mtra+7u7hMTEzs7OwICAqurq9PT0zw8PGlpaWhoaPT09D09PQUFBXZ2dtTU1PPz8zk5OWpqak5OTsrKyjo6Ot7e3tra2szMzM3Nzdvb23l5eQMDAzc3NzY2Nt/f33x8fKqqqs7Ozt3d3Xd3d9fX135+ftDQ0AAAAP///////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACwALAAAAAAPAA4AAAZ6QJaQtSoaV8NhsYFYVCiIRlG5SjhUD5XWEZkSBQEVgzTRqgICZHGgRa04Ze3ASChoPZ3V6aMtEIoaAGYHECshBioAG0UWglqEKyUKiRZFdY8mKxkgfX9rWiIrGJNyUytgYikXZmhIRFWIWVoGXa6vEiNOUBJeSUdGSUEAOw==);
}

.selected-menu-parents
{
	font-weight: bold !important;
	font-style: italic !important;
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}

#primary_nav_wrap ul li.submenu
{
	border-bottom: gray 1px dotted;
}

#primary_nav_wrap ul li.submenu:hover
{
	border-left: black 4px solid;
}

#primary_nav_wrap ul li.submenu div:hover
{
	font-weight: bold;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 0px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}