/* Fisheye Menu Styles */
#fisheye_menu {
	list-style: none;
	padding: 0;
	margin: 10px;
	height: 81px;
}

#fisheye_menu li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#fisheye_menu span {
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;
	width: 79px;
	padding: 1px;
	margin: 0;
	border: solid 1px #bbb;
	color: #333;
	background: #eee;
}

#fisheye_menu a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#fisheye_menu img {
	border: 0;
	vertical-align: top;
}

.scn-pack-FishEye-ChildrenBottom .sapUiHLayoutChildWrapper {
	vertical-align: bottom;
	bottom: 0px !important;
	top: initial !important;
}

.scn-pack-FishEye-ChildrenBottom .sapUiLayoutAbsPos {
	vertical-align: bottom;
	bottom: 4px !important;
	top: initial !important;
}

.scn-pack-FishEye-ChildrenBottom .sapUiHLayout {
	vertical-align: bottom;
	bottom: 0px !important;
	top: initial !important;
}

.scn-pack-FishEye-Image {
	border: solid 2px transparent;
}

.scn-pack-FishEye-SelectedImage {
	border: solid 2px #000000 !important;
}

.scn-pack-FishEye-Content {
	margin: 2px !important;
}

.scn-pack-FishEye-Text {
	opacity: 0.9 !important;
	text-align: center !important;
	background-color: white !important;
	margin: 2px;
	border: 2px;
	width: 96%!important;
	height: 96%;
}

div[class~=scn-pack-FullSizeChildren]>div[class=sapUiLayoutAbsPos] {width: 100% !important;height: 100% !important;}