// help on the content
// author: your full name
// authorLink: link to your profile, eg scn
// date: the creation date in the form YYYY-M-D (no 0 please!)
// filterValue: filtering, use one of: 
// 	technical | help     | usecase | explaination 
// icon: use corresponding to the filter value
// 	sap-icon://
// 	flag      | sys-help | post     | notification-2 
// title: the text on top
// text: the longer text at the bottom
// link: the link to blog

// when copying, copy the content between { and }, place between [ and { and separate with , character  
blogs = [
{
   "author": "N/A",
   "authorLink": "http://scn.sap.com/people/",
   "date": "2015-4-8",
   "filterValue": "usecase",
   "icon": "sap-icon://post",
   "title": "There is no community blog on this component yet...",
   "text": "you can be the first one... link below leads to sdk community blog",
   "link": "http://scn.sap.com/community/businessobjects-design-studio/blog/2014/12/10/scn-design-studio-sdk-development-community"
}
]