// small in-place help

// CHANGE AREA
// author:       the author, n/a initially, the developer can add his name
// date:         the date when the chnage was made (generated)
// title:        change title, initially generated but can be adjusted (probably by the developer)
// text:         a longer text, initially it is listing all areas of the change, can be also adjusted (probably by the developer)
// filterValue:  helps on filtering, should be one of 
//               bug        | enhancement      | improvement
//               Try to be in sync with issues under https://github.com/org-scn-design-studio-community/sdkpackage/issues
// icon:         should correspond to the filterValue, should be one of
//               flag       | badge            | bookmark

// TEST AREA
// test-comment: any comment on the test scenario, you can also refer to some blog or others
// test-status:  the status, initially it is set to untested - this results in "yellow". change to:
//               good or ok: when test is positive (small case)
//               bad: when the test is negative (small case)
// 
// test-icon:    icon corresponding to the status, change for    
//               flag - when status is bad
//               accept - when status is good  

