   {
       id: "%COMPONENT_HTML_PAGE%",
       title: "%COMPONENT_TITLE%",
       info: "%COMPONENT_NAME%",
       icon: "%COMPONENT_ICON%",
       activeIcon: "%COMPONENT_ICON%",
       number: " ",
       numberUnit: "%COMPONENT_PACKAGE%"
   },