//1. Create a JSON sdkComponentModel (oModel).
sdkComponentModel = {};

sdkComponentModel["basics"] = [
%COMPONENT_LIST_ENTRY_BASICS%
	];
sdkComponentModel["visualizations"] = [
%COMPONENT_LIST_ENTRY_VISUALIZATIONS%
                  ];
sdkComponentModel["datasource"] = [
%COMPONENT_LIST_ENTRY_DATASOURCE%
	];
sdkComponentModel["geovis"] = [
%COMPONENT_LIST_ENTRY_GEO%
	];
sdkComponentModel["utils"] = [
%COMPONENT_LIST_ENTRY_UTILS%
	];
sdkComponentModel["prototypes"] = [
%COMPONENT_LIST_ENTRY_PROTOTYPES%
	];
sdkComponentModel["framework"] = [
%COMPONENT_LIST_ENTRY_FRAMEWORK%
	];
	
/* example
sdkComponentModel["basics"] = [
{
    id: "idModelTile3",
    title: "Todo",
    info: "Tasks todo",
    icon: "task",
    activeIcon: "task",
    number: 29,
    numberUnit: "tasks"
},
];
*/