(function(){

var myComponentData = org_scn_community_require.knownComponents.%COMP-package%.%COMP-id%;

%COMP-id% = {

	renderer: {},
	
	initDesignStudio: function() {
		var that = this;
		
		that.readSpecification();
		org_scn_community_component_Core(that, that.spec);
		that.readAbout();
		
		/* COMPONENT SPECIFIC CODE - START(initDesignStudio)*/
		
		/* COMPONENT SPECIFIC CODE - END(initDesignStudio)*/
	},
	
	afterDesignStudioUpdate: function() {
		var that = this;
		
		/* COMPONENT SPECIFIC CODE - START(afterDesignStudioUpdate)*/

		/* COMPONENT SPECIFIC CODE - START(afterDesignStudioUpdate)*/
	},
	
	/* COMPONENT SPECIFIC CODE - START METHODS*/

	/* COMPONENT SPECIFIC CODE - END METHODS*/

	readSpecification: function () {
		var that = this;
		
		that.spec = {}; 
%FULL_SPEC_DEFINITION%
	},
	
	readAbout: function () {
		var that = this;
		
		this.compSpec = {}; 
%FULL_ABOUT_SPEC_DEFINITION%

		this.componentInfo.title = that.compSpec.title;
	    this.componentInfo.description = that.compSpec.description;
	    
	    for(var topic in that.compSpec.topics) {
	    	this.componentInfo.topics.push(topic);
	    }
	},
};

define([myComponentData.requireName], function(%COMP-package%%COMP-id(lower)%){
	myComponentData.instance = %COMP-id%;
	return myComponentData.instance;
});

}).call(this);