
/* ============================================= */
/* CSS for control sap.suite.ui.commons/ChartContainer.control */
/* ============================================= */

.sapSuiteUiCommonsChartContainer{
width: 100%;
height: 100%;
background-color: white;
}

.sapSuiteUiCommonsChartContainerWrapper{

}

.sapSuiteUiCommonsChartContainerToolBarArea{
}

.sapSuiteUiCommonsChartContainerChartArea{

}




