.sap-desktop .sapSuiteCmc:focus {
	outline-color: @sapUiFocus;
	outline-style: dotted;
	outline-width: 1px;
}

.sapSuiteCmcBar.Error {
	background-color: @sapUiChartBad;
}

.sapSuiteCmcBar.Good {
	background-color: @sapUiChartGood;
}

.sapSuiteCmcBar.Critical {
	background-color: @sapUiChartCritical;
}

.sapSuiteCmcBar.Neutral {
	background-color: @sapUiChartNeutral;	
}

.sapSuiteCmcLbl {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
}

.sapSuiteCmcLbl.Neutral {
	color: darken(@sapUiChartNeutral, 10);
}

.sapSuiteCmcLbl.Good {
	color: @sapUiPositiveText;
}

.sapSuiteCmcLbl.Critical {
	color: @sapUiCriticalText;	
}

.sapSuiteCmcLbl.Error {
	color: @sapUiNegativeText;	
}

.sapSuiteCmcBar {
	outline: none;
}

.sap-desktop .sapSuiteCmcBar:focus {
	border-color: @sapUiFocus;
	border-style: dotted;
	border-width: 1px;
}