.sapSuiteDC {
	box-shadow: 0px 0px 0.25rem fade(@sapUiDarkShadowTint, 10);
}

.sap-desktop .sapSuiteDC:hover,
.sap-tablet .sapSuiteDCHvr:hover,
.sap-phone .sapSuiteDCHvr:hover {
	box-shadow: 0px 0px 0px 2px @sapUiLightShadowTint;
}

.sap-desktop .sapSuiteDC:focus {
	outline-color: @sapUiFocus;
	outline-style: dotted;
	outline-width: 1px;
}
.sapSuiteDCIcon {
	color: @sapUiLightBG;
}