
/* ============================================= */
/* CSS for control sap.suite.ui.commons/GenericTile.control */
/* ============================================= */

.sapUiMedia-Std-Desktop .sapSuiteGTHdrTxt.Auto > .sapMText,
.sapSuiteGTHdrTxt.L > .sapMText,
.sapUiMedia-Std-Tablet .sapSuiteGTHdrTxt.Auto > .sapMText,
.sapSuiteGTHdrTxt.M > .sapMText  {
    color: @sapUiDarkText;
    font-family: @sapUiFontFamily;   
    font-size: @sapMFontHeader5Size;  
    font-weight: normal;
}

.sapSuiteGTSubHdrTxt {
    font-family: @sapUiFontFamily;   
    font-size: @sapMFontMediumSize;
    font-weight: normal;  
    color: @sapUiLightText;
    line-height: @sapUiLineHeight;
}

.sapSuiteGTHdrIconImage {
    font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapUiHighlight;
}
.sap-desktop .sapSuiteGT:focus {
    border-color: @sapUiFocus;
}

.sap-desktop .sapSuiteGT:focus:not([tabindex]) {
	border-color: transparent;
}

.sapSuiteGT {
	box-shadow: 0px 0px 0.25rem fade(@sapUiDarkShadowTint, 10);
}

.sapSuiteGenericTileFtrFldTxt {
    font-family: @sapUiFontFamily;  
    font-size: @sapMFontSmallSize; 
    color: @sapUiLightText;
}

.sap-desktop .sapSuiteGT:hover,
.sap-phone .sapSuiteGTHvrOutln:hover,
.sap-tablet .sapSuiteGTHvrOutln:hover {
	box-shadow: 0px 0px 0px 2px @sapUiLightShadowTint;
}

.sapSuiteGenericTileFtrFldIcn {
    color: @sapUiLightText;
}

.sapSuiteGTOverlay {
	background-color: @sapUiLightestBG;
}