/* ================================================================================ */
/* CSS for control sap.suite.ui.commons/ProcessFlowNode.control (bluecrystal theme) */
/* ================================================================================ */

/* border styles */
.sapSuiteUiCommonsProcessFlowNodeBorderStandard {
  border: 0.0625rem solid @sapUiLightBorder;
}
.sapSuiteUiCommonsProcessFlowNode1BorderStyle {
  border-right: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode1FoldedBorderStyle {
  border-style: none;
}
.sapSuiteUiCommonsProcessFlowNode2BorderStyle {
  border-left: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode3BorderStyle {
  border-top: none !important;
}

/* node general settings */
.sapSuiteUiCommonsProcessFlowNode0,
.sapSuiteUiCommonsProcessFlowNode0 *,
.sapSuiteUiCommonsProcessFlowNode1,
.sapSuiteUiCommonsProcessFlowNode1 *,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1 *,
.sapSuiteUiCommonsProcessFlowNode2,
.sapSuiteUiCommonsProcessFlowNode2 *,
.sapSuiteUiCommonsProcessFlowNode3,
.sapSuiteUiCommonsProcessFlowNode3 * {
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0,0,0);
}

/* ----- */
/* node0 */
/* ----- */
/* shadow */
.shadowedDivBorderTop,
.shadowedDivFoldedCornerBorderTop {
  top: 0rem;
  height: 0rem;
  min-height: 0rem;
  max-height: 0rem;
  line-height: 0rem;
  box-shadow: 0rem -0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem -0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem -0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.shadowedDivBorderRight {
  right: 0rem;
  top: 0rem;
  width: 0rem;
  min-width: 0rem;
  max-width: 0rem;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  line-height: 100%;
  box-shadow: 0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.shadowedDivBorderBottom {
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 0rem;
  min-height: 0rem;
  max-height: 0rem;
  line-height: 0rem;
  box-shadow: 0rem 0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0.0625rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.shadowedDivBorderLeft,
.shadowedDivFoldedCornerBorderLeft {
  left: 0rem;
  width: 0rem;
  min-width: 0rem;
  max-width: 0rem;
  box-shadow: -0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: -0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: -0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.shadowedDivFoldedCorner,
.shadowedDivFoldedCornerSafari {
  position: absolute;
  border: none;
  height: 0rem;
  min-height: 0rem;
  max-height: 0rem;
  line-height: 0rem;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.shadowedDivCommon {
  position: absolute;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivBorderTop  {
  left: 0rem;
  width: 11rem;
  min-width: 11rem;
  max-width: 11rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerBorderTop  {
  left: 1rem;
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivBorderLeft  {
  top: 0rem;
  height: 13.8125rem;
  min-height: 13.8125rem;
  max-height: 13.8125rem;
  line-height: 13.8125rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerBorderLeft  {
  top: 1rem;
  height: 12.8125rem;
  min-height: 12.8125rem;
  max-height: 12.8125rem;
  line-height: 12.8125rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCorner  {
  left: -0.18125rem;
  top: 0.45rem;
  width: 1.2375rem;
  min-width: 1.2375rem;
  max-width: 1.2375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerSafari  {
  left: -0.18125rem;
  top: 0.5rem;
  width: 1.25rem;
  min-width: 1.25rem;
  max-width: 1.25rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivBorderTop  {
  left: 0rem;
  width: 9rem;
  min-width: 9rem;
  max-width: 9rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerBorderTop  {
  left: 1rem;
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivBorderLeft  {
  top: 0rem;
  height: 12.1875rem;
  min-height: 12.1875rem;
  max-height: 12.1875rem;
  line-height: 12.1875rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerBorderLeft  {
  top: 1rem;
  height: 11.1875rem;
  min-height: 11.1875rem;
  max-height: 11.1875rem;
  line-height: 11.1875rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCorner  {
  left: -0.18125rem;
  top: 0.45rem;
  width: 1.2375rem;
  min-width: 1.2375rem;
  max-width: 1.2375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerSafari  {
  left: -0.18125rem;
  top: 0.5rem;
  width: 1.25rem;
  min-width: 1.25rem;
  max-width: 1.25rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivBorderTop  {
  left: 0rem;
  width: 6.5rem;
  min-width: 6.5rem;
  max-width: 6.5rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerBorderTop  {
  left: 0.75rem;
  width: 5.75rem;
  min-width: 5.75rem;
  max-width: 5.75rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivBorderLeft  {
  top: 0rem;
  height: 8rem;
  min-height: 8rem;
  max-height: 8rem;
  line-height: 8rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerBorderLeft  {
  top: 0.75rem;
  height: 7.25rem;
  min-height: 7.25rem;
  max-height: 7.25rem;
  line-height: 7.25rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCorner {
  left: -0.13125rem;
  top: 0.325rem;
  width: 0.89375rem;
  min-width: 0.89375rem;
  max-width: 0.89375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerSafari  {
  left: -0.125rem;
  top: 0.375rem;
  width: 0.9375rem;
  min-width: 0.9375rem;
  max-width: 0.9375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivBorderTop  {
  left: 0rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerBorderTop  {
  left: 0.75rem;
  width: 2.25rem;
  min-width: 2.25rem;
  max-width: 2.25rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivBorderLeft  {
  top: 0rem;
  height: 3.75rem;
  min-height: 3.75rem;
  max-height: 3.75rem;
  line-height: 3.75rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerBorderLeft  {
  top: 0.75rem;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  line-height: 3rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCorner {
  left: -0.13125rem;
  top: 0.325rem;
  width: 0.89375rem;
  min-width: 0.89375rem;
  max-width: 0.89375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 10%);
  -moz-box-shadow: 0rem 0rem 0.3125rem fade(@sapUiDarkShadowTint, 10%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem fade(@sapUiDarkShadowTint, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerSafari {
  left: -0.125rem;
  top: 0.375rem;
  width: 0.9375rem;
  min-width: 0.9375rem;
  max-width: 0.9375rem;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
  -moz-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiDarkShadowTint, 20%);
}


/* ----- */
/* node1 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon:before {
  background-color: transparent;
  font-size: @sapMFontLargeSize;
}
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon:before {
  background-color: transparent;
  font-size: @sapMFontSmallSize;
}

/* ----- */
/* node2 */
/* ----- */

/* ----- */
/* node3 */
/* ----- */

/*---------------*/
/* folded corner */
/*---------------*/

/* Title */
.sapSuiteUiCommonsProcessFlowNode3Title,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
  border: none;
  color: @sapUiHeaderText;
  font-size: @sapMFontLargeSize;
}

.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
  color: @sapUiLightText;
}

.sapSuiteUiCommonsProcessFlowNode3TitleClickable,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxWidth {
  color: @sapUiLinkActive;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover > .sapMTextMaxLine {
  color: @sapUiLinkActive;
  text-decoration: underline;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxWidth {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}

/* State area */
.sapSuiteUiCommonsProcessFlowNode3State {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel1 {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel2 {
  border: none;
  font-size: @sapMFontSmallSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel4 {
  border: none;
}

/* State icon */
.sapSuiteUiCommonsProcessFlowNode3StateIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon:before {
  border: none;
}

.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon:before {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon:before {
  border: none;
  font-size: @sapMFontLargeSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon:before {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon:before {
  border: none;
}

/* State text */
.sapSuiteUiCommonsProcessFlowNode3StateText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMTextMaxWidth {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}

/* Text area */
.sapSuiteUiCommonsProcessFlowNode3Text,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxWidth {
  border: none;
  color: @sapUiLightText;
  font-size: @sapMFontSmallSize;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontMediumSize;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 {
  border: none;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxWidth {
  border: none;
  font-size: @sapMFontSmallSize;
}

/* node content states */
.sapSuiteUiCommonsProcessFlowNodeStateNeutral {
  color: @sapUiNeutral;
}

.sapSuiteUiCommonsProcessFlowNodeStatePositive {
  color: @sapUiPositiveText;
}

.sapSuiteUiCommonsProcessFlowNodeStateNegative {
  color: @sapUiNegativeText;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerPlanned {
  color: @sapUiDarkBorder;
}
/* node display states */
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular {
  background-color: @sapUiLightestBG;
  border-color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed {
  background-color: @sapUiLightestBG;
  border-color: @sapUiDarkBorder;
  opacity: 0.5;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
  background-color: fade(@sapUiLightestBG, 30%) !important;
  border-color: @sapUiDarkBorder;
}

.sapSuiteUiCommonsProcessFlowNode3StateIcon.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNode3StateText.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
  background-color: transparent !important;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlanned.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed{
  background-color: fade(@sapUiLightestBG, 30%);
  border-color: @sapUiDarkBorder;
  opacity: 0.5;
}
.sapSuiteUiCommonsProcessFlowNode1.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted,
.sapSuiteUiCommonsProcessFlowNode2.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted,
.sapSuiteUiCommonsProcessFlowNode3.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted {
  background-color: @sapUiLightestBG;
  border-color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateRegular {
  color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateDimmed {
  opacity: 0.5;
  color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateHighlighted {
  color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateSelected {
  border-color: @sapUiHighlight !important;
}
.sapSuiteUiCommonsProcessFlowNode0.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateNavigation {
  outline-style: dotted !important;
  outline-color: @sapUiFocus !important;
  outline-width: 0.0625rem !important;
  outline-offset: 0.0625rem !important;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateSelected {
  color: @sapUiHighlight !important;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlannedDashedBorder {
  border-width: 0.0625rem;
  border-style: dashed;
}

/* special effects  */
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeHover {
  background-color: transparent;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeIconHover {
  background-color: transparent;
  color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowNodeHover,
.sapSuiteUiCommonsProcessFlowFoldedCornerIndication.sapSuiteUiCommonsProcessFlowNodeHover.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNodeHover.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
  border-color: @sapUiDarkBorder !important; 
  background-color: contrast(@sapUiLightestBG, darken(@sapUiLightestBG,3)) !important;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerNodeActive {
  background-color: transparent;
  color: @sapUiLightestBG;
}
.sapSuiteUiCommonsProcessFlowNodeActive {
  border-color: @sapUiHighlight !important;
  background-color: @sapUiHighlight !important;
  color: @sapUiLightestBG !important;
}
