/* ====================================================================================== */
/* CSS for control sap.suite.ui.commons/ProcessFlowConnection.control (bluecrystal theme) */
/* ====================================================================================== */
.borderLeft {
  border-left-width: 0.125rem;
}
.borderBottom {
  border-bottom-width: 0.125rem;
}
.borderLeftStateCreated {
  border-left-style: solid;
}
.borderLeftStatePlanned {
  border-left-style: dashed;
}
.borderBottomStateCreated {
  border-bottom-style: solid;
}
.borderBottomStatePlanned {
  border-bottom-style: dashed;
}
.borderLeftDisplayRegular {
  border-left-color:@sapUiExtraDarkBorder;
}
.borderLeftDisplayHighlighted {
  border-left-color: @sapUiHighlight;
}
.borderLeftDisplayDimmed {
  border-left-color: @sapUiExtraDarkBorder;
}
.borderBottomDisplayRegular {
  border-bottom-color: @sapUiExtraDarkBorder;
}
.borderBottomDisplayHighlighted {
  border-bottom-color: @sapUiHighlight;
}
.borderBottomDisplayDimmed {
  border-bottom-color: @sapUiExtraDarkBorder;
}
.displayRegular {
  opacity: 0.8;
}
.displayHighlighted {
  opacity: 1;
}
.displayDimmed {
  opacity: 0.5;
}

.arrowRight {
  border-style: solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-width: 0.25rem 0.5rem 0.25rem 0.5rem;
}