
/* ========================================================================== */
/* CSS for sap_bluecrystal theme of sap.suite.ui.commons/TargetFilter.control */
/* ========================================================================== */

.sapSuiteUiTF {
	font-family: Arial;
	color: #00679e;
}

.sapSuiteUiTFOuterCircle {
	border: 3px solid @sapUiLightestBorder;
	background-color: @sapUiNeutralBG;
	box-shadow: 0 0.250rem 0.375rem 0 fade(@sapUiShadowTint, 15%);
}

.sapSuiteUiTFCentralCircle {
	border: 3px solid white;
	background-color: white;
	box-shadow: 0 0.250rem 0.375rem 0 fade(@sapUiShadowTint, 15%);
}

.sapSuiteUiTFCentralCircle:before {
	border: 3px solid #69b0dc;
	background-color: transparent;
}

.sapSuiteUiTFVerticalLine {
	border: 3px solid white;
	background-color: #69b0dc;
}

.sapSuiteUiTFHorizontalLine {
	border: 3px solid white;
	background-color: #69b0dc;
}

.sapSuiteUiTFParCont .sapMInputBaseInner {
  	border: none;
}

.sapSuiteUiTFValHel .sapMBtnIcon {
	background-color: white;
}

.sapSuiteUiTFValHel .sapMBtnInner {
	border: none;
}

.sapUiMedia-Std-Phone .sapSuiteUiTFShutter {
	background: rgba(255,255,255,0.5);
}

.sapUiMedia-Std-Phone .sapSuiteUiTFShutter.Top {
	border-bottom: 2px silver solid; 
}

.sapUiMedia-Std-Phone .sapSuiteUiTFShutter.Bottom {
	border-top: 2px silver solid; 
}

.sapSuiteUiTFRightPanel .sapSuiteUiTFShowSelLbl {
	color: #00679e;
}
