/** */
.scn-pack-DataSlider-NO-UiSliHiLi .sapUiSliHiLi {
	background-color: transparent !important;
	border-color: transparent !important;
}

.scn-pack-DataSlider-Vertical .sapUiSliText {
  width: 200px;
  text-align: right
}