	 sap.zen.Dispatcher.instance.pauseDispatching();
	 //jQuery.sap.registerModulePath("lib.color.scheme", pathInfo.mainSDKPath + "org.scn.community.databound/os/color/scheme");
	 //jQuery.sap.require("lib.color.scheme");
