.-scn-pack-CheckBoxGroup {
	background: #FFFFFF !important;
	border-radius: 3px 3px 3px 3px/3px 3px 3px 3px;
	border: solid 1px #000000 !important;
	border-bottom: solid 1px #E3EDF5 !important;
}

.scn-pack-CheckBoxGroup-Layout {
	border: solid 2px transparent !important;
	border-top: solid 2px #E3EDF5 !important;
}

.scn-pack-CheckBoxGroup-SelectedValue {
	/* border: solid 2px #000000 !important; */
	
}

.scn-pack-CheckBoxGroup-Picture {
	border-radius: 3px 3px 3px 3px/3px 3px 3px 3px;
}