.DesignStudioSCN.Viz .axis path,
.DesignStudioSCN.Viz .axis line {
	fill: none;
  	stroke: #303030;
  	shape-rendering: crispEdges;
  	stroke-width: .75px;
}
.DesignStudioSCN.Viz .legend-container {
  stroke-width: .5px;
  fill: #FFFFFF;
  fill-opacity: 0.9;
  stroke: #898989;
}

.DesignStudioSCN.Viz .legend-label {
  font-weight: bold;
}

.DesignStudioSCN.Viz .chartTitle {
  font-weight: bold;
}
